nav {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 2;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.menu-container button {
	font-size: 18px;
	background-color: var(--primary);
	border: 1px solid var(--green-primary);
	color: var(--green-primary);
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.menu-container button:hover {
	background-color: var(--green-primary);
	color: var(--primary);
}

.logo a {
	color: var(--green-primary);
	font-size: 30px;
	text-decoration: none;
}

.overlay-menu {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  background-color: var(--primary);
  background-color: var(--overlay-menu);
  overflow-x: hidden;
	z-index: 100;
}

.overlay-menu button {
	position: absolute;
	top: 3%;
	right: 6%;
	font-size: 30px;
	color: var(--green-primary);
	background: none;
	border: none;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.overlay-menu button:hover{
	background-color: var(--green-primary);
	color: var(--primary);
}

.overlay-menu a {
	padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--green-primary);
  display: block;
  transition: 0.3s;
}

.overlay-content {
	position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.fixed-back-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.back-btn-container {
	width: 90%;
	display: flex;
	justify-content: flex-end;
}

.back-btn-container a {
	font-size: 18px;
	color: var(--green-primary);
	background-color: var(--primary);
	padding: 5px 10px;
	transition: all 0.1s ease-in-out;
}

.back-btn-container a:hover {
	background-color: var(--green-primary);
	color: var(--primary);
}


@media only screen and (max-width: 800px){
	.menu-container {
		width: 90%;
	}
}