@import './varliables.css';
@import './banner.css';

body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  
}

button {
  outline: none;
}

.spacer-sm {
  width: 100%;
  height: 50px;
}

.spacer-md {
  width: 100%;
  height: 100px;
}
