.projects {
	width: 100%;
}

.sub-heading-container {
	width: 90%;
	height: 150px;
	margin: auto;
	color: var(--white);
	display: flex;
	align-items: center;
}

.project-list-container {
	width: 90%;
	height: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	justify-content: space-between;
}

.project-card {
	position: relative;
	width: 350px;
	height: 375px;
	padding: 10px;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0 25px 70px -12px rgba(0, 0, 0, 0.35);
	margin-top: 50px;
}

.project-card .user-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	height: 100px;
	margin: auto;
	border-bottom: 1px solid var(--gray-2)
}

.project-card .user-container img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

.project-card .user-content {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}

.projct-button-container {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
}

.project-card button {
	width: 80%;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  background-color: var(--green-primary);
  color: var(--dark);
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.project-card button:hover {
	background-color: var(--green-hover);
	color: var(--white);
}

@media only screen and (max-width: 800px){

	.project-list-container {
		width: 100%;
    grid-template-columns: repeat(1, 275px);
    grid-column-gap: 30px;
    justify-content: center;
	}

	.project-card {
		width: 275px;
		height: 300px;
		padding: 0px;
	}

}