:root {
	--primary: #192a56;
	--info: #48dbfb;
	--white: #fff;
	--btn-hover: #34495e;
	--dark: #000;
	--gray-1: #2d3436;
	--gray-2: #57606f;
	--green-primary: #10ac84;
	--green-hover: #1abc9c;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}